@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fondo y color de texto globales */
@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
  }
}

@layer components {
  .privacy-heading {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.38px;
    text-align: center;
  }

  .privacy-body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.002em;
  }
}
